/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
  font-family: 'Permanent Marker', cursive;
}

h1 {
  background-color: #009AD5;
  
}

#headertop {
  background-color: #009AD5;
}
/* 
#bar {
  autosize: false,
  width: 500,
  height: 500
} */
